<head>
  <meta charset="utf-8">
  <title>BudgetzApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
</head>

<app-navbar (pageChange)="setPage($event)"></app-navbar>

<main>
  <app-budget-dashboard *ngIf="page === 'dashboard'"></app-budget-dashboard>
  <app-statistics-page *ngIf="page === 'statistics'"></app-statistics-page>
</main>